$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/*    FONTS     */
@font-face {
    font-family: 'cpw-light';
    src: url('../fonts/cpw-light.eot');
    src: url('../fonts/cpw-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cpw-light.woff') format('woff'),
         url('../fonts/cpw-light.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'cpw-normal';
    src: url('../fonts/cpw-normal.eot');
    src: url('../fonts/cpw-normal.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cpw-normal.woff') format('woff'),
         url('../fonts/cpw-normal.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'cpw-demi';
    src: url('../fonts/cpw-demi.eot');
    src: url('../fonts/cpw-demi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cpw-demi.woff') format('woff'),
         url('../fonts/cpw-demi.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'cpw-extra';
    src: url('../fonts/cpw-extra.eot');
    src: url('../fonts/cpw-extra.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cpw-extra.woff') format('woff'),
         url('../fonts/cpw-extra.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*    COLORS      */
$text: #1f1a17;
$text2: #fff;

$sect1: #78c5da;

html{
  overflow-x: hidden;
}


body{
    font-family: 'cpw-light', verdana;
    background-color: $sect1;
}

a:hover{
  text-decoration: none;
}

.bluebtn {
    font-size: 19px;
    font-family: 'cpw-demi';
    background: #026db2;
    background: -moz-linear-gradient(top,  #026db2 0%, #183985 100%);
    background: -webkit-linear-gradient(top,  #026db2 0%,#183985 100%);
    background: linear-gradient(to bottom,  #026db2 0%,#183985 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#026db2', endColorstr='#183985',GradientType=0 );
    color: #fff;
    max-width: 50%;
    margin: 0 auto 30px;
    padding: 7px 20px;
    border: none;
    border-radius: 10px;
}

.bluebtn:hover {
  color: #fff;
  background: #026db2;
}

.center{
  text-align: center;
}

h2{
  font-family: 'cpw-normal';
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3{
  font-family: 'cpw-normal';
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h4{
  font-family: 'cpw-normal';
  font-size: 24px;
  text-transform: none;
}

h5{
  font-family: 'cpw-light';
  font-size: 20px;
  text-transform: none;
}

.clear{
  clear: both;
}

/************************************************************
                    H E A D E R
*************************************************************/
header{
  background-color: $sect1;
  min-height: 100px;
}

.header-text-cryptoweb {
    font: normal normal bolder 50px CPW-extra, Verdana;
    letter-spacing: 2px;
    padding-top: 8px;
}

.header-text-protectflow {
    font: normal normal 15px CPW-light, Verdana;
    letter-spacing: 4px;
}

.logo{
  float: left;
  margin-right: 20px;
}

.logo_wrap{
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  min-height: 100px;
  max-width: 50%;
}

.header-text-cryptoweb a{
    color: $text;
}

.contacts, .contacts a{
  color: $text2;
  font-family: 'cpw-normal';
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 30px;
  line-height: 40px;
}
/************************************************************
                     N A V
*************************************************************/
.navbar {
    margin-bottom: 0px;
    border: none;
}

.navbar-default .navbar-nav > li > a {
    color: $text;
    font-size: 24px;
    font-family: 'cpw-light';
    padding: 20px;
}

.mainmenu{
  background-color: #fff;
}

#fixmenu{
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border: 1px #c2c1c1;
    border-bottom-style: solid;
}


.shadow{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.9;
  top: 0;
  left:0;
  right: 0;
  bottom:0;
  z-index: 10000;
}

.shadow .message{
  margin: auto auto;
  font-size: 30px;
  text-align: center;
  padding-top: 200px;
}

#errorblock{
  color: red;
  margin-bottom: 20px;
}


/************************************************************
                    S E C T I O N 1
*************************************************************/
.section1{
  padding-top: 30px;
  background-color: $sect1;
  min-height: 600px;
  position: relative;
}

.section1 h1{
  margin: 100px 0 80px;
  font-size: 45px;
}

.section1 p{
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/************************************************************
                    S E C T I O N 2
*************************************************************/
.section2{
  padding-top: 30px;
  padding-bottom: 70px;
  background-image: url(../images/sect2.jpg);
  min-height: 600px;
  position: relative;
}

.section2 h3{
    margin-top: 0;
    padding-top: 0;
}

.section2:after{
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-color: transparent;;
  border-style: solid;
  border-width: 40px 960px;
  border-right-color: #b87f95;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -40px;
}
.section2:before{
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-color: transparent;;
  border-style: solid;
  border-width: 40px 960px;
  border-left-color: #b87f95;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -40px;
}
.wrap{
  width: 90%;
  margin: 50px auto;
  background-color: #fff;
  background-image: url(../images/sect2bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px 20px;
}

.left_part{

  padding: 0 30px 20px 10px;
}

.right_part{
  border: 2px #c2c1c1;
  border-left-style: solid;
  padding: 0 10px 20px 30px;
}



.text{
  font-size: 20px;
  font-family: 'cpw-light';
}

/************************************************************
                    S E C T I O N 3
*************************************************************/
.section3{
  background-color: #b87f95;
  padding-top: 30px;
  position: relative;
  padding-bottom: 70px;

  h3{
    margin-top: 40px;
    text-transform: none;
  }

  p{
    clear: both;
  }

  p img{
    float: left;
    margin-right: 30px;
    margin-bottom: 50px;
  }

  a{
    color: #000;
  }

  a:hover{
    color: #424242;
  }

  a:focus, a:active{
    text-decoration: none;
  }
}

.section3 .wrap{
  width: 90%;
  margin: 50px auto;
  background-color: #fff;
  background-image: url(../images/sect3bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px 40px;
}


.section3:after{
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-color: transparent;;
  border-style: solid;
  border-width: 40px 960px;
  border-right-color: #78c5da;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -40px;
}
.section3:before{
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-color: transparent;;
  border-style: solid;
  border-width: 40px 960px;
  border-left-color:  #78c5da;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -40px;
}



/************************************************************
                    S E C T I O N 4
*************************************************************/
.section4{
  position: relative;
  background: #78c5da;
  background: -moz-linear-gradient(top,  #78c5da 0%, #3bb3c2 100%);
  background: -webkit-linear-gradient(top,  #78c5da 0%,#3bb3c2 100%);
  background: linear-gradient(to bottom,  #78c5da 0%,#3bb3c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78c5da', endColorstr='#3bb3c2',GradientType=0 );
  padding-top: 20px;
  padding-bottom: 70px;


  h2, h2+p{
    text-align: center;
  }

  h2+p{
    font-size: 20px;
  }

  .scheme{
    margin: 40px auto 20px;
  }
}

.section4:after{
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-color: transparent;;
  border-style: solid;
  border-width: 40px 960px;
  border-right-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -40px;
}
.section4:before{
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-color: transparent;;
  border-style: solid;
  border-width: 40px 960px;
  border-left-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -40px;
}

.section4 .wrap{
  background-image: none;
  padding-bottom: 70px;
}

.addition{
  border: 1px #1f1a17;
  border-top-style: solid;
  width: 40%;
  float: right;
  position: relative;
  bottom: 80px;
  padding-top: 20px;
  font-family: 'cpw-light';
  font-size: 16px;

  img{
    margin-right: 10px;
  }

  a{
    display: block;
    padding-top: 10px;
    color: $text;
  }
}

/************************************************************
                    S E C T I O N 5
*************************************************************/
.section5{
  position: relative;
  padding-top: 0px;
  padding-bottom: 70px;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #dededd 100%);
  background: -webkit-linear-gradient(top,  #ffffff 0%,#dededd 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#dededd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dededd',GradientType=0 );

  .wrap{
      background-image: none;
      padding: 20px 40px 40px;

  }

  img{
    margin: 30px;
  }

  p{
    font-family: 'cpw-light';
    font-size: 18px;
  }

  .table{
    border: 1px solid #ddd;
    border-top-color: #ddd;

    td{
      border: 1px solid #ddd;
      border-right-style: solid;
    }
  }
}


.section5:after{
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-color: transparent;;
  border-style: solid;
  border-width: 40px 960px;
  border-right-color: #b87f95;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -40px;
}
.section5:before{
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-color: transparent;;
  border-style: solid;
  border-width: 40px 960px;
  border-left-color: #b87f95;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -40px;
}
/************************************************************
                    S E C T I O N 6
*************************************************************/
.section6{
  position: relative;
  padding-top: 0px;
  padding-bottom: 70px;
  background-color: #b87f95;

  .wrap{
    background-image: none;
    padding: 30px 30px;
  }

  .text{
    font-size: 18px;
  }

  .center{
    padding: 30px 30px 0;
    font-size: 30px;
    color: #b87f95;
  }
}


.section6:after{
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-color: transparent;;
  border-style: solid;
  border-width: 40px 960px;
  border-right-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -40px;
}
.section6:before{
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-color: transparent;;
  border-style: solid;
  border-width: 40px 960px;
  border-left-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -40px;
}


/************************************************************
                    S E C T I O N  7
*************************************************************/
.section7{
  position: relative;
  padding-bottom: 0;
  background-color: #fff;

  .wrap{
    background-image: url(../images/sect7.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    min-height: 620px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.orderbox {
    max-width: 40%;
    min-height: 250px;
    margin: 100px auto 0;
    opacity: 0.75;
    border: 2px solid #0093dd;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

.send_order {
    text-transform: uppercase;
    font-size: 70px;
    line-height: 0.9;
    padding-top: 30px;
}

.order {
    background-color: #15438f;
    color: #fff;
    text-align: center;
    height: 70%;
    border-radius: 8px 8px 0 0;
}

.order .conn {
    font-size: 35px;
    padding: 10px 0;
}

.cw {
    background-color: #fff;
    text-align: center;
    font-family: 'cpw-light';
    font-size: 24px;
    height: 30%;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 0 0 8px 8px;
}

/************************************************************
                     F O O T E R
*************************************************************/
.prefooter{
  position: relative;
  bottom: 70px;
  width: 100%;
  height: 70px;
  background-image: url(../images/prefooter.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;

  a {
    margin-top: 50px;
  }
}

.footer{
  position: relative;
  bottom: 40px;
  min-height: 100px; background-color: $sect1;

}

#order_modal{
  .bluebtn{
    margin-bottom: 0;
  }
}

#order_modal input[type=text]{
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
